<%- include ../header.ejs %>

<div class="row directory">
  <section>
    <div class="row">
      <div class="col-md-8">
        <h1>All SF Students</h1>
      </div>
      <div class="col-md-4 right-box">
        <a href="/show/wdi" class="btn btn-default">View All WDI</a>
        <a href="/show/uxdi" class="btn btn-default">View All UXDI</a>
      </div>

    </div>
<ul>

  <% for(i=0; i<courses.length; i++){ %>
      <% if(courses[i].users.length > 0) { %>
          <li>

            <%= courses[i].name %>

            <ul>
              <% for(h=0; h < courses[i].users.length; h++){ %>
                  <li>
                    <a href="/users/<%= courses[i].users[h].id %>">
                      <%= courses[i].users[h].firstname %> <%= courses[i].users[h].lastname %>
                    </a>
                </li>
              <% } %>
            </ul>

          </li>
      <% } %>
  <% } %>
</ul>



  </section>
</div>
  
<%- include ../footer.ejs %>